@charset "utf-8";
@import "fontello.css";

/* 웹폰트 선언*/

@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('font/eot/NotoSansKR-Regular-Hestia.eot'), url('font/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Regular-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('font/eot/NotoSansKR-Bold-Hestia.eot'), url('font/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Bold-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'webcafeIcon';
    font-weight: 400;
    src: url('font/webcafeIcon.eot');
    src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'), url('font/webcafeIcon.woff') format('woff'), url('font/webcafeIcon.ttf') format('truetype'), url('font/webcafeIcon.svg#webcaferegular') format('svg');
}


/* 숨김 콘텐츠 */

legend,
.hidden {
    position: absolute;
    left: -9999em;
}


/* 요소의 여백 초기화 */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


/* 제목크기 초기화 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: normal;
}


/* 기본 스타일*/

html {
    font-size: 10px;
}

body {
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 1.4rem;
    line-height: 1.15;
    /*font-family: "돋움", Dotum;*/
}

input,
textarea,
select,
option,
button {
    font-family: inherit;
    font-size: inherit;
}


/* 레이아웃*/

.wrapper {
    /*background-image: linear-gradient(to bottom, #aaaaaa 0%,#f7fffd 70%,#ffffff 100%);*/
    /*background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
    /*background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);*/
    background: url(images/bg_flower.png) no-repeat 50% 0, linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 1)100%);
    /*background-attachment: fixed; 배경화면 고정시켜셔 스크롤 생기면 효과 볼 수 있음*/
    height: 100vh;
}

.header,
.visual,
.main-content,
.slogan,
.footer {
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}


/* 링크 스타일 */

a {
    color: inherit;
    text-decoration: none;
}


/* 헤더 */

.header {
    /*min-height: 115px;*/
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    position: relative;
    padding: 0 30px 40px 30px;
}


/* 로고 */

.logo {
    position: absolute;
    top: 45px;
    left: 60px;
}


/* 텍스트링크 - 안내링크 */

.info-menu {
    list-style-type: none;
    font-size: 0;
    text-align: right;
    position: relative;
    right: -10px;
}

.info-menu li,
.info-menu a {
    display: inline-block;
}

.info-menu li {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.info-menu a {
    padding: 10px;
}


/* 가상 요소를 이용한 콘텐츠 장식을 위한 */

.info-menu li::after {
    content: ":";
}

.info-menu li:last-child::after {
    content: "";
}


/* 메인 메뉴 */

.main-menu {
    background: linear-gradient(to bottom, #e5892d 0%, #e0652c 35%, #e0652c 65%, #e5892d 100%);
    list-style-type: none;
    border-top: 2px solid #181818;
    border-radius: 0 0 5px 5px;
    /*border-radius: 0 0 5px 5px/ 0 0 20px 20px;*/
    padding-left: 225px;
    height: 45px;
}

.main-menu>li {
    float: left;
    position: relative;
}

.main-menu span {
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
    color: rgba(255, 255, 255, 0.95);
    padding: 10px 20px 10px 20px;
    display: block;
    padding: 0 20px;
    line-height: 45px;
    border-left: 2px solid rgba(255, 255, 255, 0.9);
    text-shadow: 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000;
}

.main-menu span:hover,
.main-menu span:focus {
    color: hsla(30, 80%, 80%, 1);
    /*border-bottom: 2px solid #181818; 전체가 된다 글씨가 되는 방법을 해보자*/
    outline: 0;
}

.main-menu span:hover::after,
.main-menu span:focus::after {
    content: "";
    display: block;
    border-top: 2px solid #181818;
}

.main-menu ul {
    list-style-type: none;
    position: absolute;
    white-space: nowrap;
    top: 45px;
}


/* 웹 폰트를 추가 시켜야 한다.*/

.main-menu ul li {
    display: inline-block;
}

.main-menu ul a::before {
    font-family: "webcafeIcon";
    content: "r";
    position: relative;
    top: 2px;
}

.main-menu ul a:hover::before,
.main-menu ul a:focus::before {
    content: "c";
}

.main-menu ul a {
    /* a가 인라인 요소라서 늘어나는 것이 안 보임 색깔을 칠하면 보임*/
    padding: 8px 15px 7px 0;
    display: block;
}

.about-html {
    display: none;
    left: 0;
}

.about-html:hover {
    content: "v";
}

.about-css {
    display: none;
    left: 0;
}

.web-standards {
    display: none;
    left: 0;
}

.web-accessibility {
    display: none;
    left: -140px;
}

.qna {
    display: none;
    left: -170px;
}

.archive {
    display: none;
    /* 마지막 요소이기 때문에*/
    right: -25px;
}


/* 비주얼 */

@keyframes text-ani {
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 0);
    }
    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 70px);
    }
}

@keyframes flower-ani {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.visual-text {
    /* 글자까지만 적용*/
    display: inline-block;
    animation: text-ani 1s forwards 2s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*animation-name: text-ani;
    animation-duration: 5s;*/
    /* 끝난 상태에서 멈춰 있게 한다*/
    /*animation-fill-mode: forwards;
    animation-delay: 2s;*/
    color: rgba(0, 0, 0, 0)
    /* 참고 사이트 http://www.the-art-of-web.com/css/timing-function*/
    /*animation-timing-function: ease-in-out;
    /* 실행 횟수 */
    /*animation-iteration-count: 3;
    animation-direction: alternate;*/
}

.visual {
    height: 120px;
    position: relative;
}

.visual::before,
.visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    animation: flower-ani 2s infinite alternate;
}

.visual::before {
    background: url(images/ani_flower_01.png) no-repeat 0 -10px, url(images/ani_flower_02.png) no-repeat 670px 0;
    /*animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;*/
}

.visual::after {
    /* 배경이미지를 가져오겠다는 것*/
    background: url(images/ani_flower_03.png) no-repeat 300px 0, url(images/ani_flower_04.png) no-repeat 800px 0;
    /*animation: blinker 1.7s cubic-bezier(.5, 0, 1, 0) infinite alternate;*/
    animation-delay: 2s;
}

.main-content {
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-start;*/
}

.group1 {
    width: 250px;
    /*align-self: flex-end;*/
}

.group2 {
    width: 380px;
}

.group3 {
    width: 190px;
    /*order: -1;*/
}


/* 로그인 */

.login {
    padding: 10px;
    border-radius: 5px;
    background: radial-gradient(circle at right top, #e5892d, #e0652c);
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
}

.login-heading {
    color: #ff0;
    font-family: "Noto Sans Bold";
    font-size: 1.6rem;
    text-indent: 10px;
}

.login-form {
    background: #fff;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    margin-top: 10px;
}

.login-form fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.user-pw {
    margin-top: 6px;
}

.login-form label {
    width: 4em;
    display: inline-block;
    cursor: pointer;
}

.login-form input {
    box-sizing: border-box;
    width: 95px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
}

.btn-login {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 0;
    padding: 0;
    cursor: pointer;
    background: hsla(0, 100%, 70%, 1);
    color: #fff;
    border-radius: 3px;
    font-size: 1.3rem;
}

.member {
    list-style-type: none;
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 0 10px 10px 10px;
    font-size: 1.3rem;
}


/* 플로트 이슈를 해결하기 위한 clearfix */

.member::after {
    content: "";
    display: block;
    clear: both;
}

.icon-user::before,
.icon-right-open::before {
    color: #f00;
}

.join {
    float: left;
}

.find {
    float: right;
}


/* 유효성 검사 배너 링크 */

.validation {
    margin-top: 20px;
}


/*
.validation-list li {
    background: url("images/validation_icon.png") no-repeat 20px 50%, linear-gradient(to bottom, #eee, #ccc);
    list-style-type: none;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    text-indent: 45px;
}*/

.validation-list {
    list-style-type: none;
}

.validation-list a {
    border: 1px solid #aaa;
    display: block;
    border-radius: 15px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
    padding-left: 45px;
    background: url("images/validation_icon.png") no-repeat 20px 50%, linear-gradient(to bottom, #eee 0%, #ccc 100%)
}


/* 혼자 실습 했을 때*/


/*.validation {
    background: yellow;
    margin-top: 20px;
}

.validation-list {
    list-style-type: none;
    background: #fff;
    border-radius: 0 0 5px 5px;
    font-size: 1.3rem;
}

.validation ul {
    display: inline-block;
    background: yellow;
}

.validation ul li {
    border: 1px solid gray;
    border-radius: 10px;
    background: palegoldenrod;
    padding: 10px;
    width: 235px;
    height: 30px;
    line-height: 30px;
    text-indent: 30px;
    margin: 10px;
}

.validation ul li a {
    background: green;
}*/


/* 웹 관련 용어*/

.term {
    background: linear-gradient(to bottom, #eee, #ccc);
    margin-top: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px 15px;
}

.term-heading {
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
}

.term-list {
    margin: 10px 0 0 0;
}

.term-list::after {
    content: "";
    display: block;
    clear: both;
}

.term-list-subject,
.term-list-brief {
    width: 145px;
    float: right;
}

.term-list-subject {
    color: darkblue;
}

.term-list-thumbnail {
    float: left;
}

.term-list-brief {
    margin-top: 5px !important;
}

.term-list-thumbnail,
.term-list-brief {
    margin: 0;
}

.even .term-list-subject,
.even.term-list-brief {
    float: left;
}

.even .term-list-thumbnail {
    float: right;
}


/*.term {
    background: yellow;
    margin-top: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 15px;
    min-height: 150px;
    background: linear-gradient(to bottom, #eee 0%, #ccc 100%);
}*/


/*
.term-heading {
    font-size: 20px;
    font-weight: bold;
}

.term-list-subject {
    color: blue;
    padding-left: 70px;
}

.term-list-thumbnail {
    position: absolute;
    margin: 0;
    padding-bottom: 10px;
}

.term-list-brief {
    padding-top: 5px;
    position: relative;
    padding-left: 3rem;
}*/


/*.term {
    border: 1px solid #aaa;
    border-radius: 5px;
    background: orange;
    list-style-type: none;
    padding: 15px;
    min-height: 150px;
    background: linear-gradient(to bottom, #eee 0%, #ccc 100%);
    font-family: 'Arial Narrow Bold';
}

.term-list {
    display: block;
    border-radius: 15px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
    padding-left: 45px;
    list-style-type: none;
    background: url("../images/web_standards.gif") no-repeat 20px 50%;
    width: 60px;
    height: 70px;
}

.term-list-subject {
    color: blue;
}

.term-list-thumbnail {}*/


/* 검색 폼 */

.search {
    background: linear-gradient(to bottom, #ccc, #fff);
    border: 1px solid #aaa;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    padding: 20px 25px 10px 25px;
}

.search-form fieldset {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0 none;
    vertical-align: baseline;
}


/* 영향 안 주고 나만 움직일 수 있게 된다 relative*/

.search label::before {
    font-family: "webcafeIcon";
    content: "z";
    position: relative;
    top: 2px;
}

.search input {
    width: 195px;
    height: 24px;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 1px 1px 1px 5px;
    box-sizing: border-box;
    font-family: "Noto Sans Regular";
    font-size: 1.3rem;
    margin: 0 3px 0 2px;
}

.btn-search {
    border: 1px solid #aaa;
    padding: 0 10px;
    border-radius: 3px;
    height: 24px;
    background: linear-gradient(to bottom, #777, #ccc);
    color: #fff;
}

button {
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
}


/* board*/

.board {
    background: yellow;
    margin-top: 20px;
}

.notice {
    background: red;
}

.pds {
    background: blue;
}

.notice span,
.pds span {
    background: wheat;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px, 10px, 5px, 10px;
}

.notice span {
    position: relative;
    float: left;
}

.pds span {
    position: relative;
}

.notice li,
.pds li {
    font-family: "webcafeIcon";
    content: "r";
    position: relative;
    top: 2px;
}

.notice-list a,
.pds-list a {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    color: inherit;
    text-decoration: none;
}


/*.search {
    background: hotpink;
    border-radius: 10px;
    border: 1px 1px 0 1px solid #aaa;
    width: 380px;
    height: 60px;
    line-height: 50px;
    float: left;
}

.search-heading {
    background: aqua;
}

.search-heading fieldset {
    background: yellow;
}

.search-line {
    background: turquoise;
}

.btn-search {
    float: right;
    color: white;
    border-radius: 5px;
    background: linear-gradient(to bottom, #181818, gray);
}*/

.slogan {
    height: 10vh;
}

.footer-bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 1)100%);
}

.footer {
    height: 10vh;
}