@charset "utf-8";
@import "fontello.css";

/* 어떻게 가져왔나요 ???*/

@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('font/eot/NotoSansKR-Regular-Hestia.eot'), url('font/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Regular-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('font/eot/NotoSansKR-Bold-Hestia.eot'), url('font/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Bold-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'webcafeIcon';
    font-weight: 400;
    src: url('font/webcafeIcon.eot');
    src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'), url('font/webcafeIcon.woff') format('woff'), url('font/webcafeIcon.ttf') format('truetype'), url('font/webcafeIcon.svg#webcaferegular') format('svg');
}

legend,
.hidden {
    position: absolute;
    left: -9999em;
}


/* margin과 padding을 0으로 두는 이유는? 작업하기 어려워서 */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


/* 글씨 크기를 1em과 normal로 두는 이유는? */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: normal;
}

html {
    font-size: 10px;
}


/* html에 설정한 값은 무시?곱해서 나타남 상속 개념 */

body {
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 1.4rem;
    line-height: 1.15;
}


/* 왜 설정하는가?상속 */

input,
textarea,
select,
option,
button {
    font-family: inherit;
    font-size: inherit;
}

.wrapper {
    background: url(images/bg_flower.png) no-repeat 50% 0, linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 1)100%);
    height: 100vh;
}

.header,
.visual,
.main-content,
.slogan,
.footer {
    width: 940px;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.header {
    /*min-height: 115px;*/
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    position: relative;
    padding: 0 30px 40px 30px;
}

.logo {
    position: absolute;
    top: 45px;
    left: 60px;
}


/* font-size가 왜 0 인가요?공백문자를 없애기 위함 인라인블락을 썼기 때문 */

.info-menu {
    list-style-type: none;
    font-size: 0px;
    text-align: right;
    position: relative;
    right: -10px;
}

.info-menu li,
.info-menu a {
    display: inline-block;
}

.info-menu li {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.info-menu a {
    padding: 10px;
}

.info-menu li::after {
    content: ":";
}

.info-menu li:last-child::after {
    content: "";
}

.main-menu {
    background: linear-gradient(to bottom, #d34 0%, #e74 35%, #f23 65%, #e5892d 100%);
    list-style-type: none;
    border-top: 2px solid #181818;
    border-radius: 0 0 5px 5px;
    padding-left: 225px;
    height: 45px;
}

.main-menu>li {
    float: left;
    position: relative;
}


/* span은 어떤 의미? 의미 없고 디비전은 큰 스팬은 작은 것 padding 2번 하는 이유?? 위에꺼는 취소 재적용됨 */

.main-menu span {
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
    color: rgba(255, 255, 255, 0.95);
    padding: 10px 20px 10px 20px;
    display: block;
    padding: 0 20px;
    line-height: 45px;
    border-left: 2px solid rgba(255, 255, 255, 0.9);
    text-shadow: 1px 0px 0px #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000;
}


/* outline의 역할은? 테두리 없애기 */

.main-menu span:hover,
.main-menu span:focus {
    color: hsla(30, 80%, 80%, 1);
    /*border-bottom: 2px solid #181818; 전체가 된다 글씨가 되는 방법을 해보자*/
    outline: 0;
}


/* border-top인데 bottom이 표시되는 이유?블락처리하면 밑으로 이동 에프터는 인라인 */

.main-menu span:hover::after,
.main-menu span:focus::after {
    content: "";
    display: block;
    border-top: 2px solid #181818;
}


/* nowrap과 top 45px;의 역할은 줄바꿈 금지  앱솔루트는 기준이 누군지 체크*/

.main-menu ul {
    list-style-type: none;
    position: absolute;
    white-space: nowrap;
    top: 45px;
}

.main-menu ul li {
    display: inline-block;
}


/* before이 가지는 기능은?*/

.main-menu ul a::before {
    font-family: "webcafeIcon";
    content: "r";
    position: relative;
    top: 2px;
}

.main-menu ul a:hover::before,
.main-menu ul a:focus::before {
    content: "c";
}

.main-menu ul a {
    /* a가 인라인 요소라서 늘어나는 것이 안 보임 색깔을 칠하면 보임*/
    padding: 8px 15px 7px 0;
    display: block;
}

.about-html {
    display: none;
    left: 0;
}


/* 어떤 기능??? display: none의 기능? */

.about-html:hover {
    content: "v";
}

.about-css {
    display: none;
    left: 0;
}

.web-standards {
    display: none;
    left: 0;
}

.web-accessibility {
    display: none;
    left: -140px;
}

.qna {
    display: none;
    left: -170px;
}

.archive {
    display: none;
    /* 마지막 요소이기 때문에*/
    right: -25px;
}

@keyframes text-ani {
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 0);
    }
    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 70px);
    }
}

@keyframes flower-ani {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.visual-text {
    display: inline-block;
    animation: text-ani 1s forwards 2s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0)
}

.visual {
    height: 120px;
    position: relative;
}


/* content 넣어주는 이유는? 컨텐트가 없으면 상자를 못 만들어준다 */

.visual::before,
.visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    animation: flower-ani 2s infinite alternate;
}

.visual::before {
    background: url(images/ani_flower_01.png) no-repeat 0 -10px, url(images/ani_flower_02.png) no-repeat 670px 0;
    /*animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;*/
}

.visual::after {
    /* 배경이미지를 가져오겠다는 것*/
    background: url(images/ani_flower_03.png) no-repeat 300px 0, url(images/ani_flower_04.png) no-repeat 800px 0;
    /*animation: blinker 1.7s cubic-bezier(.5, 0, 1, 0) infinite alternate;*/
    animation-delay: 2s;
}


/* flex-direction:row ????디폴트값 예 no reverse  */

.main-content {
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-start;*/
}

.group1 {
    width: 250px;
    /*align-self: flex-end;*/
}

.group2 {
    width: 380px;
}

.group3 {
    width: 190px;
    /*order: -1;*/
}

.login {
    padding: 10px;
    border-radius: 5px;
    background: radial-gradient(circle at right top, #e5892d, #e0652c);
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
}

.login-heading {
    color: #ff0;
    font-family: "Noto Sans Bold";
    font-size: 1.6rem;
    text-indent: 10px;
}

.login-form {
    background: #fff;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    margin-top: 10px;
}

.login-form fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.user-pw {
    margin-top: 6px;
}

.login-form label {
    width: 4em;
    display: inline-block;
    cursor: pointer;
}

.login-form input {
    box-sizing: border-box;
    width: 95px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
}

.btn-login {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 0;
    padding: 0;
    cursor: pointer;
    background: hsla(0, 100%, 70%, 1);
    color: #fff;
    border-radius: 3px;
    font-size: 1.3rem;
}

.member {
    list-style-type: none;
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 0 10px 10px 10px;
    font-size: 1.3rem;
}


/* 뭐가 달라지는 건지? */

.member::after {
    content: "";
    display: block;
    clear: both;
}

.icon-user::before,
.icon-right-open::before {
    color: #f00;
}

.join {
    float: left;
}

.find {
    float: right;
}

.validation {
    margin-top: 20px;
}

.slogan {
    height: 10vh;
}

.footer-bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 1)100%);
}

.footer {
    height: 10vh;
}