@charset "utf-8";

/* 웹폰트 선언*/

@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('font/eot/NotoSansKR-Regular-Hestia.eot'), url('font/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Regular-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('font/eot/NotoSansKR-Bold-Hestia.eot'), url('font/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Bold-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'webcafeIcon';
    font-weight: 400;
    src: url('font/webcafeIcon.eot');
    src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'), url('font/webcafeIcon.woff') format('woff'), url('font/webcafeIcon.ttf') format('truetype'), url('font/webcafeIcon.svg#webcaferegular') format('svg');
}


/* 요소의 여백 초기화 */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


/* 제목크기 초기화 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: normal;
}


/* 기본 스타일*/

html {
    font-size: 10px;
}

body {
    font-family: 'Noto Sans Regular', sans-serif;
    font-size: 1.4rem;
    /*font-family: "돋움", Dotum;*/
}


/* 레이아웃*/

.wrapper {
    /*background-image: linear-gradient(to bottom, #aaaaaa 0%,#f7fffd 70%,#ffffff 100%);*/
    /*background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
    /*background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);*/
    background: url(images/bg_flower.png) no-repeat 50% 0, linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 1)100%);
    /*background-attachment: fixed; 배경화면 고정시켜셔 스크롤 생기면 효과 볼 수 있음*/
    height: 100vh;
}

.header,
.visual,
.main-content,
.slogan,
.footer {
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}


/* 링크 스타일 */

a {
    color: inherit;
    text-decoration: none;
}


/* 헤더 */

.header {
    /*min-height: 115px;*/
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    position: relative;
    padding: 0 30px 40px 30px;
}


/* 로고 */

.logo {
    position: absolute;
    top: 50px;
    left: 60px;
}


/* 텍스트링크 - 안내링크 */

.info-menu {
    list-style-type: none;
    font-size: 0;
    text-align: right;
    position: relative;
    right: -10px;
}

.info-menu li,
.info-menu a {
    display: inline-block;
}

.info-menu li {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.info-menu a {
    padding: 10px;
}


/* 가상 요소를 이용한 콘텐츠 장식을 위한 */

.info-menu li::after {
    content: ":";
}

.info-menu li:last-child::after {
    content: "";
}


/* 메인 메뉴 */

.main-menu {
    background: linear-gradient(to bottom, #e5892d 0%, #e0652c 35%, #e0652c 65%, #e5892d 100%);
    list-style-type: none;
    border-top: 2px solid #181818;
    border-radius: 0 0 5px 5px;
    /*border-radius: 0 0 5px 5px/ 0 0 20px 20px;*/
    padding-left: 225px;
    height: 45px;
}

.main-menu>li {
    float: left;
    position: relative;
}

.main-menu span {
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
    color: rgba(255, 255, 255, 0.95);
    padding: 10px 20px 10px 20px;
    display: block;
    padding: 0 20px;
    line-height: 45px;
    border-left: 2px solid rgba(255, 255, 255, 0.9);
    text-shadow: 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000;
}

.main-menu span:hover,
.main-menu span:focus {
    color: hsla(30, 80%, 80%, 1);
    /*border-bottom: 2px solid #181818; 전체가 된다 글씨가 되는 방법을 해보자*/
    outline: 0;
}

.main-menu span:hover::after,
.main-menu span:focus::after {
    content: "";
    display: block;
    border-top: 2px solid #181818;
}

.main-menu ul {
    list-style-type: none;
    position: absolute;
    white-space: nowrap;
    top: 45px;
}


/* 웹 폰트를 추가 시켜야 한다.*/

.main-menu ul li {
    display: inline-block;
}

.main-menu ul a::before {
    font-family: "webcafeIcon";
    content: "r";
    position: relative;
    top: 2px;
}

.main-menu ul a:hover::before,
.main-menu ul a:focus::before {
    content: "c";
}

.main-menu ul a {
    /* a가 인라인 요소라서 늘어나는 것이 안 보임 색깔을 칠하면 보임*/
    padding: 8px 15px 7px 0;
    display: block;
}

.about-html {
    display: none;
    left: 0;
}

.about-html:hover {
    content: "v";
}

.about-css {
    display: none;
    left: 0;
}

.web-standards {
    display: none;
    left: 0;
}

.web-accessibility {
    display: none;
    left: -140px;
}

.qna {
    display: none;
    left: -170px;
}

.archive {
    display: none;
    /* 마지막 요소이기 때문에*/
    right: -25px;
}


/* 비주얼 */

@keyframes text-ani {
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 0);
    }
    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 70px);
    }
}

@keyframes flower-ani {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.visual-text {
    /* 글자까지만 적용*/
    display: inline-block;
    animation: text-ani 0.3s forwards 2s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*animation-name: text-ani;
    animation-duration: 5s;*/
    /* 끝난 상태에서 멈춰 있게 한다*/
    /*animation-fill-mode: forwards;
    animation-delay: 2s;*/
    color: rgba(0, 0, 0, 0)
    /* 참고 사이트 http://www.the-art-of-web.com/css/timing-function*/
    /*animation-timing-function: ease-in-out;
    /* 실행 횟수 */
    /*animation-iteration-count: 3;
    animation-direction: alternate;*/
}

.visual {
    height: 120px;
    position: relative;
}

.visual::before,
.visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    animation: flower-ani 2s infinite alternate;
}

.visual::before {
    background: url(images/ani_flower_01.png) no-repeat 0 -10px, url(images/ani_flower_02.png) no-repeat 670px 0;
    /*animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;*/
}

.visual::after {
    /* 배경이미지를 가져오겠다는 것*/
    background: url(images/ani_flower_03.png) no-repeat 300px 0, url(images/ani_flower_04.png) no-repeat 800px 0;
    /*animation: blinker 1.7s cubic-bezier(.5, 0, 1, 0) infinite alternate;*/
    animation-delay: 2s;
}

.main-content {
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: flex-start;*/
}

.group {}

.group1 {
    width: 250px;
    /*align-self: flex-end;*/
}

.group2 {
    width: 380px;
}

.group3 {
    width: 190px;
    /*order: -1;*/
}

.slogan {
    height: 10vh;
}

.footer-bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 1)100%);
}

.footer {
    height: 10vh;
}